{% extends "base_generic.html" %}
{% block content %}
{% if request.user.is_authenticated %}
    <p class="text-center">You are already logged in</p>
{% else %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light text-dark">
                    <div class="card-header">
                        <h5 class="card-title">Register</h5>
                    </div>
                    <div class="card-body">
                        {{ errors }}
                        <form action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                {{ form.username }} 
                            </div>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                {{ form.first_name }} 
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                {{ form.last_name }} 
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                {{ form.email }} 
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                {{ form.password1 }} 
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                {{ form.password2 }} 
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
