{% extends "base_generic.html" %}

{% block content %}

<style>
    .movie-card {
    height: 95%;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: white;
    margin: 10px;
   }

    .read-more-btn {
        align-self: flex-end;
        margin-bottom: 10px;
        margin-right: 10px;
    }

</style>

<div class="container">
    <div class="row">
        {% for film in films %}
        <div class="col-md-4">
            <div class="card movie-card">
                <img src="{{ film.url_image }}" alt="Movie Poster" style="width:100%">
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <p class="card-text">{{ film.description | truncatechars:150 }}</p>
                </div>
                <a href="{% url 'film' film.id %}" class="btn btn-primary read-more-btn">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
